@(message: String, user: User)
@import helper._
@import controllers.routes.javascript._

@base(message) {
    @nav()
    <style>

        .jumbotron{
            background-color: #83d662;

        }

        .btn-default{
            width: 80px;
        }

        #rate{
            padding-top: 20px;
        }
        
        #save{

            position: absolute;
            right: 0;
            margin-right: 50px;
        }

        .h1{
            margin-bottom: 10px;
        }

        .btn-block{
            padding-top: 15px;
            padding-bottom: 15px;
            font-size: 18px;
        }

        #userAnswer{
            border-radius: 5px;
        }

    </style>

            <div class="row text-center">

                <h1>Play</h1>

            </div>

        <br>
        <div class="modal fade" id="reportModal" role="dialog">
            <div class="modal-dialog">
                    <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title text-center">Report this flash card!</h4>
                    </div>
                    <div class="modal-body">
                        <p>Flash card Id:</p>
                        <p id="reportFlashcardId"></p>
                        <p>Please describe the issue</p>
                        <input type="text" id="issue" size="80">
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="login" class="btn btn-default" onclick="submit()" data-toggle="modal" data-target="#reportModal">Submit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-md-1"></div>
            <div class="col-md-5" id="game-error">
                <p>There is an error in the game.</p>
                <p>Either javascript/jquery is disabled or there are no flashcards that match your skill level.</p>
            </div>

            <div class="col-md-5" id="front">
                <div class="jumbotron">
                    <button value="1" id="save" type="button" class="btn btn-warning">Save</button>
                    <div class="page-header">
                        <h3 id="titlef">This is where the title goes</h3>
                    </div>
                    <p id="question">This is where the quesiton goes.</p>
                    <input type="text" id="userAnswer" placeholder="Answer">
                </div>
                <button id="flip" type="button" class="btn btn-info btn-block">Flip</button>
            </div>

            <div class="col-md-5" id="back">
                <div class="jumbotron">
                    <button id="save" type="button" class="btn btn-warning">Save</button>
                    <button id="report" type="button" class="btn btn-warning" data-toggle="modal" data-target="#reportModal">Report</button>
                    <div class="page-header">
                        <h3 id="titleb">This is where the title goes</h3>
                    </div>
                    <p id="answer">This is where the answer goes.</p>
                </div>
                <button id="next" type="button" class="btn btn-info btn-block">Next card</button>
                <div class="row text-center">
                <div class="btn-group" role="group" id="rate">
                    <button value="1" type="button" class="btn btn-default">Too Easy</button>
                    <button value="2" type="button" class="btn btn-default">Easy</button>
                    <button value="3" type="button" class="btn btn-default">Medium</button>
                    <button value="4" type="button" class="btn btn-default">Hard</button>
                    <button value="5" type="button" class="btn btn-default">Too Hard</button>
                </div>
            </div>

            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <div class="jumbotron">

                    <div class="page-header">
                        <h3 id="titleS">Score</h3>
                    </div>
                    <h5>Questions answered</h5>
                    <p id="nA">0<p>
                    <h5>Correct Answers</h5>
                    <p id="correctAnswers">0</p>
                </div>

            </div>
            <div class="col-md-1"></div>
        </div>

    </div>
} {
<script type="text/javascript">
    var numOfAnswered = 0;
    var numOfCorrect = 0;
    $(function(){

        var flashcards;
        var z;

        $("#game-error").hide();
        $("#back").hide();

        $.ajax({
            type: 'GET',
            url: "@routes.Api.playFlashcards(user.getSkill().intValue(), 10)",
            dataType: 'json',
            success: function (data) {
                if (data == "") {
                    // Empty list
                    $("#game-error").show();
                    $("#front").hide();
                }
                else {
                    z = 0;
                    flashcards = data;
                    render(flashcards, z);
                }
            }
        });

        $("#flip").click(function(){
            var uAnswer = document.getElementById("userAnswer").value;
            var actualAnswer = document.getElementById("answer").innerHTML;

            numOfAnswered++
            document.getElementById("nA").innerHTML = numOfAnswered;

            if(uAnswer== actualAnswer){
                numOfCorrect++;
            }
            document.getElementById("correctAnswers").innerHTML = numOfCorrect;
            document.getElementById("userAnswer").value = "";
            $("#front").hide();
            $("#back").show();
            $("#rate").show();
            $("#save").show();
        });

        $("#next").click(function(){
            render(flashcards, ++z);
            $("#front").show();
            $("#back").hide();
        });

        $("#rate button").click(function() {
            var score = $(this).attr("value");
            data = {
                    "type" : 1, //type 1 is difficulty rating
                    "rater" : "@user.username",
                    "flashcard": flashcards[z].id,
                    "value": score
            };
            $.ajax({
                type: "POST",
                url: "@routes.Api.addRating()",
                data: JSON.stringify(data),
                dataType: "json",
                contentType: "application/json",
                success: function (data) {
                    $("#rate").hide();
                },
                error: function (xhr) {
                    alert('Error: ' + xhr.status + ' ' + xhr.statusText + ' ' + xhr.responseText);
                }
            });
        });
        
        $("#save").click(function() {
            $.ajax({
                type: "POST",
                url: jsRoutes.controllers.Api.saveFlashcard(flashcards[z].id).url,
                data: JSON.stringify({"requestor":"@user.username"}),
                dataType: "json",
                contentType: "application/json",
                success: function (data) {
                    $("#save").hide();
                },
                error: function (xhr) {
                    alert('Error: ' + xhr.status + ' ' + xhr.statusText + ' ' + xhr.responseText);
                }
            });
        });

        function render(list, i) {
            if (list.length > i) {
                $("#titlef").html(list[i].name);
                $("#titleb").html(list[i].name);
                $("#question").text(list[i].question);
                $("#answer").text(list[i].answer);
                $("#reportFlashcardId").text(flashcards[z].id);
            }
            else {
                alert("The deck ran out!");
            }
        }

    });

    function submit(){

        issue = document.getElementById("issue").value;
        flashCardId = document.getElementById("reportFlashcardId").textContent;
        console.log(flashCardId);

        var data = {
            "creator":'@user.username',
            "issue": issue,
            "flashCardId": flashCardId,
        };

        $.ajax({
            url: "/api/flashcard/" + flashCardId + "/report",
            type:'POST',
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            dataType:'json',
            success: function (response) {
                document.getElementById("addC").innerHTML += '<div id="alert" class="alert alert-success"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Reported</strong></div>';
                document.getElementById("issue").value = "";
                document.getElementById("reportFlashcardId").value = "";
            }
        });


    }

</script>
}
