@(myForm: Form[views.forms.LoginForm])

@import helper._
@implicitField = @{ FieldConstructor(myFieldConstructorTemplate.f) }

@base("Login Page") {
    @navRegisterLogin()
    <div class="container">
        <div id="header" class="row text-center">
            <h1>WeLearn</h1>
            <span class="fa-stack fa-3x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-rocket fa-stack-1x text-primary"></i>
            </span>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    @if(flash.contains("success")) {
                    <div class="alert alert-success" role="alert">
                        @flash.get("success")
                    </div>
                    }
                    <div class="panel-body">
                        @if(myForm.hasGlobalErrors) {
                            <div class="alert alert-danger" role="alert">
                                @myForm.globalError.message
                            </div>
                        }
                        @helper.form(action = routes.Application.login()) {
                            <fieldset>
                                @inputText(myForm("username"),
                                'class -> "form-control"
                                )

                                @inputPassword(myForm("password"),
                                'class -> "form-control"
                                )

                                <button class="btn btn-lg btn-success btn-block" type="submit" id="login">Login</button>
                            </fieldset>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
} {
}