@(message: String, user: User)
@import helper._
@import controllers.routes.javascript._

@base(message) {
    @nav()
    <style>

    #addC{
    padding-top: 40px;
    }

    .jumbotron{
    background-color: #83d662;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 10px;
    padding-right: 10px;
    }

    #edit1, #edit2, #edit3, #edit4, #edit5, #edit6, #edit7, #edit8, #edit9, #edit10{

    -webkit-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    }

    #delete1, #delete2, #delete3, #delete4, #delete5, #delete6, #delete7, #delete8, #delete9, #delete10{

    -webkit-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    }

    #add{
    width: 100px;
    }

    #collection{
    width: auto;
    margin-top: 10px;

    }

    button{
    font-size: 20px;
    color: black;
    }

    button:active{
    color: #ADD8E6;
    }

    #alert{
    width: auto;
    }

    #others{
    display: none;
    }


    </style>

    <div class="row text-center">
        <h1>Moderation</h1>
    </div>
    <br>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
                <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" onclick="closeModal()">&times;</button>
                    <h4 class="modal-title text-center">Report Details</h4>
                </div>
                <div class="modal-body">
                    <p id="titleNow">Title</p>

                    <p id="questionNow">Question</p>

                    <p id="answerNow">Answer</p>

                    <br>

                    <p id="titleReported">Title</p>

                    <p id="questionReported">Question</p>

                    <p id="answerReported">Answer</p>

                    <p id="issueReported">Title</p>

                    <p hidden id="IValue"></p>

                </div>
                <div class="modal-footer">
                    <button type="button" id="edit" class="btn btn-default" onclick="editFlashcard()" >Edit</button>
                    <button type="button" id="delete" class="btn btn-default" onclick="deleteFlashcard()" >Delete</button>
                    <button type="button" id="resolved" class="btn btn-default" onclick="resolved()" >Resolved</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-target="#myModal"  onclick="closeModal()">Close</button>
                </div>
                <div id="addC" class="row text-center" data-spy="affix" data-offset-top="40">

                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid" id="personal">

        @nav()

        <div id="personal-col1" class="col-md-6"></div>

        <div id="personal-col2" class="col-md-6"></div>


    </div>

    <div class="container-fluid" id="others">

        @nav()

        <div id="others-col1" class="col-md-5"></div>

        <div id="others-col2" class="col-md-5"></div>

        <div id="others-col3" class="col-md-1">
            <div id="addC" class="row text-center" data-spy="affix" data-offset-top="40">
                <button type="button" id="collection" class="btn btn-default" onclick="showPersonal()">Back</button>
                <br>
            </div>
        </div>
    </div>

    <br>
    <div class="row text-center">
        <ul class="pagination">
            <li><button id="1" onclick="move(1)">1</button></li>
            <li><button id="2" onclick="move(2)">2</button></li>
            <li><button id="3" onclick="move(3)">3</button></li>
            <li><button id="4" onclick="move(4)">4</button></li>
            <li><button id="5" onclick="move(5)">5</button></li>
        </ul>
    </div>
}{
    <script type="text/javascript">
            var page = 1;
            var o = 0;
            var question = "Q";
            var answer = "A";
            var title = "";
            showR();

            function showR(){

                document.getElementById("personal-col1").innerHTML="";
                document.getElementById("personal-col2").innerHTML="";

                $.ajax({
                    url: "/api/report/new",
                    success: function (response) {

                        var size = response.length;
                        var col = 1;
                        for(var i = 1; i <= size; i++){
                            if((i%2) == 0){
                                col = 2;
                            }
                            document.getElementById("personal-col" + col).innerHTML += '<div class="jumbotron"><div class="page-header"><h3 id="h'+i+'">'+ response[i-1].flashcardName +'     <button type="button" id="edit'+i+'" class="btn btn-default" data-toggle="modal" data-target="#myModal" onclick="Review('+i+')">Review</button></h3></div><p id="Q'+i+'">Question: '+ response[i-1].flashcardQuestion+'</p><p id="A'+i+'">Answer: '+response[i-1].flashcardAnswer+'</p><p id="I'+i+'">Issue: ' + response[i-1].issue+'</p><p style="visibility:hidden"id="flashcardId'+i+'">'+ response[i-1].flashcardId+'</p><p style="visibility:hidden"id="reportId'+i+'">'+ response[i-1].id+'</p></div>';
                            col = 1;
                        }
                        if(size == 0){

                            document.getElementById("personal-col1").innerHTML= "You don't have any flashcards!";

                        }

                    }
                });


            }

            function resolved() {
                i = document.getElementById("IValue").innerHTML;

                var type = document.getElementById("edit").innerHTML;
                var reportId = document.getElementById("reportId" + i).innerHTML;
                title = (document.getElementById("titleNow").innerHTML).split(/:(.+)?/)[1];
                question = ((document.getElementById("questionNow").innerHTML).split(/:(.+)?/))[1];
                answer = ((document.getElementById("answerNow").innerHTML).split(/:(.+)?/))[1];


                var data = {
                    "id": reportId,
                    "status": 'resolved',
                };

                $.ajax({
                    url: '/api/report/' + reportId + '/edit',
                    type:'PUT',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    dataType:'json',
                    success: function (response) {
                        document.getElementById("addC").innerHTML += '<div id="alert" class="alert alert-success"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>This report has been marked as resolved.</strong></div>';
                        showR();
                    }

                });

            }



            function submit(){

                title = document.getElementById("title").value;
                question = document.getElementById("question").value;
                answer = document.getElementById("answer").value;



                var data = {
                    "creator":'@user.username',
                    "name": title,
                    "question": question,
                    "answer": answer,
                    "isDraft": false,
                };

                $.ajax({
                    url: '@routes.Api.addFlashcard()',
                    type:'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    dataType:'json',
                    success: function (response) {
                        document.getElementById("addC").innerHTML += '<div id="alert" class="alert alert-success"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Added</strong></div>';
                        showF();

                        document.getElementById("title").value = "";
                        document.getElementById("question").value = "";
                        document.getElementById("answer").value = "";
                    }
                });
            }



            function edit(i){

                i += "";

                var type = document.getElementById("edit" + i).innerHTML;
                var idLong = document.getElementById("value" + i).innerHTML;
                title = (document.getElementById("h"+ i).innerHTML).split(" ");
                question = ((document.getElementById("Q"+ i).innerHTML).split(":"))[1];
                answer = ((document.getElementById("A"+ i).innerHTML).split(":"))[1];

                if(type == "Edit"){

                    //document.getElementById("h"+ i).innerHTML = '<input type="text" id="H'+ i +'" size="15" value =' + title + '>';
                    document.getElementById("Q"+ i).innerHTML = 'Question: ' + '<input type="text" id="Question'+ i +'" size="15" value =' + question + '>';
                    document.getElementById("A" + i).innerHTML = 'Answer: ' + '<input type="text" id="Answer'+ i + '" size="15" value =' + answer + '>';
                    document.getElementById("edit" + i).innerHTML = "Save";

                }
                else{

                    //title = document.getElementById("H" + i).value;
                    question = document.getElementById("Question" + i).value;
                    answer = document.getElementById("Answer"+i).value;

                    document.getElementById("Q" + i).innerHTML = 'Question: ' + question;

                    document.getElementById("A"+ i).innerHTML = 'Answer: ' + answer;

                    var data = {
                        "creator":'@user.username',
                        "name": title[0],
                        "question": question,
                        "answer": answer,
                        "isDraft": false,
                    };

                    $.ajax({
                        url: jsRoutes.controllers.Api.editFlashcard(idLong).url,
                        type:'PUT',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        dataType:'json',
                        success: function (response) {
                            document.getElementById("edit"+i).innerHTML = "Edit";
                            document.getElementById("addC").innerHTML += '<div id="alert" class="alert alert-success"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Edited</strong></div>';
                        }

                    });
                }
            }

            function closeModal() {
                document.getElementById("edit").innerHTML = "Edit";
                document.getElementById("edit").style.visibility = "visible";
                document.getElementById("delete").style.visibility = "visible";
            }

            function editFlashcard(){

                i = document.getElementById("IValue").innerHTML;

                var type = document.getElementById("edit").innerHTML;
                var flashcardId = document.getElementById("flashcardId" + i).innerHTML;
                title = (document.getElementById("titleNow").innerHTML).split(/:(.+)?/)[1];
                question = ((document.getElementById("questionNow").innerHTML).split(/:(.+)?/))[1];
                answer = ((document.getElementById("answerNow").innerHTML).split(/:(.+)?/))[1];

                if(type == "Edit"){

                    document.getElementById("titleNow").innerHTML = 'New Name: ' + '<input type="text" id="titleNew" size="15" value =' + title + '>';
                    document.getElementById("questionNow").innerHTML = 'New Question: ' + '<input type="text" id="questionNew" size="15" value =' + question + '>';
                    document.getElementById("answerNow").innerHTML = 'New Answer: ' + '<input type="text" id="answerNew" size="15" value =' + answer + '>';
                    document.getElementById("edit").innerHTML = "Save";

                }
                else{

                    var newTitle = document.getElementById("titleNew").value;
                    var newQuestion = document.getElementById("questionNew").value;
                    var newAnswer = document.getElementById("answerNew").value;

                    document.getElementById("titleNow").innerHTML =    "Name Now:       " + newTitle;
                    document.getElementById("questionNow").innerHTML = "Question Now:   " + newQuestion;
                    document.getElementById("answerNow").innerHTML =   "Answer Now:     " + newAnswer;


                    var data = {
                        "name": newTitle,
                        "question": newQuestion,
                        "answer": newAnswer,
                    };

                    $.ajax({
                        url: jsRoutes.controllers.Api.editFlashcard(flashcardId).url,
                        type:'PUT',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        dataType:'json',
                        success: function (response) {
                            document.getElementById("edit").innerHTML = "Edit";
                            document.getElementById("addC").innerHTML += '<div id="alert" class="alert alert-success"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>This flashcard has been edited</strong></div>';
                        }

                    });
                }
            }

            function dlt(i){

                var idLong = document.getElementById("value" + i).innerHTML;
                $.ajax({
                    url: jsRoutes.controllers.Api.deleteFlashcard(idLong).url,
                    type: 'DELETE',
                    success: function (response) {
                        document.getElementById("addC").innerHTML += '<div id="alert" class="alert alert-success"><a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Deleted</strong></div>';
                        showF();
                    }
                });
            }

            function deleteFlashcard(){

                i = document.getElementById("IValue").innerHTML;
                var flashcardId = document.getElementById("flashcardId" + i).innerHTML;

                $.ajax({
                    url: jsRoutes.controllers.Api.deleteFlashcard(flashcardId).url,
                    type: 'DELETE',
                    success: function (response) {
                        document.getElementById("addC").innerHTML += '<div id="alert" class="alert alert-success"><a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>The reported flashcard has been deleted</strong></div>';
                        showR();

                        $.ajax({
                            url: jsRoutes.controllers.Api.getFlashcard(flashcardId).url,
                            type:'GET',
                            success: function (response) {
                                document.getElementById("titleNow").innerHTML =    "Name Now:       " + response.name;
                                document.getElementById("questionNow").innerHTML = "Question Now:   " + response.question;
                                document.getElementById("answerNow").innerHTML =   "Answer Now:     " + response.answer;

                            },
                            error: function (error) {
                                document.getElementById("titleNow").innerHTML = "The flashcard is already deleted.";
                                document.getElementById("questionNow").innerHTML = " ".replace( / /g, "&nbsp;" );
                                document.getElementById("answerNow").innerHTML = " ".replace( / /g, "&nbsp;" );
                                document.getElementById("edit").style.visibility = "hidden";
                                document.getElementById("delete").style.visibility = "hidden";
                            }
                        });
                    }
                });


            }

            function Review(i){
                var titleReported = (document.getElementById("h"+ i).innerHTML).split(" ")[0];
                var questionReported = ((document.getElementById("Q"+ i).innerHTML).split(/:(.+)?/))[1];
                var answerReported = ((document.getElementById("A"+ i).innerHTML).split(/:(.+)?/))[1];
                var issueReported = ((document.getElementById("I"+ i).innerHTML).split(/:(.+)?/))[1];
                var flashcardId = document.getElementById("flashcardId" + i).innerHTML;
                var reportId = document.getElementById("reportId" + i).innerHTML;

                document.getElementById("IValue").innerHTML = i;

                document.getElementById("issueReported").innerHTML =    "Issue:             " + issueReported;
                document.getElementById("titleReported").innerHTML =    "Reported Name:     " + titleReported;
                document.getElementById("answerReported").innerHTML =   "Reported Answer:   " + answerReported;
                document.getElementById("questionReported").innerHTML = "Reported Question: " + questionReported;

                $.ajax({
                    url: jsRoutes.controllers.Api.getFlashcard(flashcardId).url,
                    type:'GET',
                    success: function (response) {
                        document.getElementById("titleNow").innerHTML =    "Name Now:       " + response.name;
                        document.getElementById("questionNow").innerHTML = "Question Now:   " + response.question;
                        document.getElementById("answerNow").innerHTML =   "Answer Now:     " + response.answer;

                    },
                    error: function (error) {
                        document.getElementById("titleNow").innerHTML = "The flashcard is already deleted.";
                        document.getElementById("questionNow").innerHTML = " ".replace( / /g, "&nbsp;" );
                        document.getElementById("answerNow").innerHTML = " ".replace( / /g, "&nbsp;" );
                        document.getElementById("edit").style.visibility = "hidden";
                        document.getElementById("delete").style.visibility = "hidden";
                    }
                });

            }

    </script>
}