@(elements: helper.FieldElements)
   <div class="form-group @if(elements.hasErrors) {has-error}">
    <label class="control-label" for="@elements.id">@elements.label</label>
    <div class="controls">
        @elements.input
        <span class="help-block">@elements.errors.mkString(", ")</span>
    </div>
</div>