<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@routes.Application.index()">WeLearn</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
        </div>
    </div>
</nav>

<style>

    .navbar, .navbar .navbar-brand, .navbar .nav > li > a {
        background-color: #428bca;
        color: #fff;
        border-bottom: none;
    }

    .navbar .nav .dropdown-menu, .navbar .nav .dropdown-menu > li > a {
        background-color: #428bca;
        color: #fff;
        border-radius: 0;
        min-width: 102px;
        border: 0;
    }

    .navbar .nav > li > a:hover, .navbar .nav .dropdown-menu > li > a:hover, .navbar .nav .open .dropdown-toggle {
        background-color: #67a2d4;
    }

    .navbar .icon-bar{
        background-color: #fff;
    }

</style>