@(myForm: Form[views.forms.RegistrationForm])

@import helper._
@implicitField = @{ FieldConstructor(myFieldConstructorTemplate.f) }

@base("Registration Page") {

<style>

#header{
    padding-top: 10px;
}
</style>
    @navRegisterLogin()
<div class="container">
    <div id="header" class="row text-center">
        <h1>WeLearn</h1>
        <span class="fa-stack fa-3x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-rocket fa-stack-1x text-primary"></i>
        </span>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                @if(flash.contains("success")) {
                <div class="alert alert-success" role="alert">
                    @flash.get("success")
                </div>
                }
                <div class="panel-heading">
                    <h3 class="panel-title">Register an Account</h3>
                </div>
                <div class="panel-body">
                    @helper.form(action = routes.Application.register()) {

                    <fieldset>

                        @inputText(myForm("username"),
                            'class -> "form-control"
                        )

                        @inputText(myForm("email"),
                            'class -> "form-control"
                        )

                        @inputPassword(myForm("password"),
                            'class -> "form-control"
                        )
                        <br>
                        <button class="btn btn-lg btn-success btn-block" type="submit" id="register">Register</button>
                    </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
} {
}