@(message: String, user: User)

@base(message) {
    @nav()
    <style>

        #addC{
            padding-top: 40px;
        }

        .jumbotron{
            background-color: #83d662;
            padding-top: 5px !important;
            padding-bottom: 5px !important;
            padding-left: 10px;
            padding-right: 10px;
        }

        #edit1, #edit2, #edit3, #edit4, #edit5, #edit6, #edit7, #edit8, #edit9, #edit10{

          -webkit-appearance: none;
          outline: none;
          border: 0;
          background: transparent;
        }

        #delete1, #delete2, #delete3, #delete4, #delete5, #delete6, #delete7, #delete8, #delete9, #delete10{

          -webkit-appearance: none;
          outline: none;
          border: 0;
          background: transparent;
        }

        #add{
            width: 100px;
        }
        
        #collection{
            width: auto;
            margin-top: 10px;
            
        }

        button{
            font-size: 20px;
            color: black;
        }

        button:active{
            color: #ADD8E6;
        }

        #alert{
            width: 100px;
        }

        #others{
            display: none;
        }

        .input-group{
           width: 200px;
           margin-left: 42%

        }

    </style>

    <div class="row text-center">
        <h1>Search</h1>
    </div>
    <br>

        <div class="input-group">
            <input id="terms" type="text" class="form-control" placeholder="Search by Title">
            <a class="btn btn-default input-group-addon" onclick="searchByTitle()"><i class="fa fa-search fa-fw"></i></a>
        </div>

      <br>
        <div class="container-fluid" id="search">

            <div id="search-col1" class="col-md-5"></div>

            <div id="search-col2" class="col-md-5"></div>

        </div>
        
        <br>
<div class="row text-center">
    <ul class="pagination">
        <li><button id="1" onclick="move(1)">1</button></li>
        <li><button id="2" onclick="move(2)">2</button></li>
        <li><button id="3" onclick="move(3)">3</button></li>
        <li><button id="4" onclick="move(4)">4</button></li>
        <li><button id="5" onclick="move(5)">5</button></li>
    </ul>
</div>
    </div>
}{
<script type="text/javascript">
var page = 1;
var o = 0;
var question = "Q";
var answer = "A";
var title = '';
//showF();

function searchByTitle(){

    document.getElementById("search-col1").innerHTML="";
    document.getElementById("search-col2").innerHTML="";
    
    var title = document.getElementById("terms").value;

    $.ajax({
        url: '/api/flashcard/search/'+title,
        type:'GET',
        /*data: {
            name: title
        },*/
        success: function (response) {
            
            var size = response.length;
            var col = 1;
            for(var i = 1; i <= size; i++){
                if((i%2) == 0){
                    col = 2;
                }
                document.getElementById("search-col" + col).innerHTML += '<div class="jumbotron"><div class="page-header"><h3 id="h'+i+'">'+ response[i-1].name +'</h3></div><p id="Q'+i+'">Question: '+ response[i-1].question+'</p><p id="A'+i+'">Answer: '+response[i-1].answer+'</p><p>Rating: '+response[i-1].difficultyRating+'</p></div>';
                col = 1;
            }
            if(size == 0){
    
                document.getElementById("search-col1").innerHTML= "No results";
    
            }
    
        }
    });

}


function move(p){

    document.getElementById("" + page).style.color = "black";
    document.getElementById("" + p).style.color = "#ADD8E6";

    var pageDifference = Math.abs(page - p);
    for(var i = 0; i < pageDifference; i++){
        if(p < page){
            o -= 10;
        }
        else if(p > page){
            o += 10;
        }
    }
    page = p;
    showF();

    }
</script>
}
