@(message: String, user: User)

@base(message) {
    @nav()
<style>


    #table{
        width: 400px;
        border-collapse: collapse;
        margin: 0px auto;
    }

    #table td{

        font-size: 15px;
        border: 1px solid #428bca;;
        padding: 3px 7px 3px 7px;
    }

    #table tr.alt td {
        color: #000000;
        background-color: #c6dcef
    }

    #edit, #save{
        width: 70px;
    } 

    #buttons{
        padding-top: 10px;
    }

    .rating2 {
      unicode-bidi: bidi-override;
      direction: rtl;
      float:left;
  }
  .rating2 > button {
      font-family: FontAwesome;
      display: inline-block;
      position: relative;
      -webkit-appearance: none;
      outline: none;
      border: 0;
      background: transparent;
      font-size: 20px;
      padding: 0px 0px;
  }
  .rating2 > button:hover:before,
  .rating2 > button:hover ~ button:before {
     font-family: FontAwesome;
     padding: 0px 0px;
     font-size: 20px;
     content: "\f005";
     color: #000;
     position: absolute;
 }

    .container-fluid {
        margin-top: 0;
    }

    </style>


    <div class="row text-center">
      <h1>Settings</h1>
    </div>

    <br>
    <div class="container-fluid">
      <br>
      <table id="table">
        <tr class="alt">
          <td >Username</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Password</td>
          <td></td>
          <td></td>
        </tr>
        <tr class="alt">
          <td >Email</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Skill Level</td>
          <td>
            <div class="rating2">
              <button type="button" id="star5" class="btn btn-default" onclick="getLevel(5)"><i id="5" class="fa fa-star-o"></i></button>
              <button type="button" id="star4" class="btn btn-default" onclick="getLevel(4)"><i id="4" class="fa fa-star-o"></i></button>
              <button type="button" id="star3" class="btn btn-default" onclick="getLevel(3)"><i id="3" class="fa fa-star-o"></i></button>
              <button type="button" id="star2" class="btn btn-default" onclick="getLevel(2)"><i id="2" class="fa fa-star-o"></i></button>
              <button type="button" id="star1" class="btn btn-default" onclick="getLevel(1)"><i id="1" class="fa fa-star-o"></i></button>
            </div>
          </td>
          <td></td>
        </tr>
      </table>

      <div id="buttons" class="row text-center">
        <button type="button" id="edit" class="btn btn-default" onclick="edit()">Edit</button><button type="button" id="save" class="btn btn-default" onclick="save()" disabled="disabled">Save</button>
      </div>
      <br>
      <div class="row text-center">
        <div class="col-md-3"></div>
        <div id="alerts" class="col-md-6"></div>
        <div class="col-md-3"></div>
      </div>


      <div class="col-md-3"></div>
    </div>

  } {
  <script type="text/javascript">

  var un = "@user.username";
  var p = "@user.password";
  var e = "@user.email";

  document.getElementById("table").rows[0].cells[1].innerHTML = "@user.username";
  document.getElementById("table").rows[1].cells[1].innerHTML = ("@user.password").charAt(0) + "***";
  document.getElementById("table").rows[2].cells[1].innerHTML = "@user.email";

  var level = parseInt("@user.getSkill()", 10);

  for(var i = 1; i <= level; i++){
   var name = "" + i ;
   document.getElementById(name).className="fa fa-star";
 }

 function edit(){
  document.getElementById("save").disabled="";

  document.getElementById("table").rows[1].cells[2].innerHTML = '<input type="text" id="Password" size="15" value =' + p + '>';
  document.getElementById("table").rows[2].cells[2].innerHTML = '<input type="text" id="Email" size="15" value =' + e + '>';

  document.getElementById("alerts").innerHTML = '<div id="alert" class="alert alert-warning"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>You have changed something. Make sure to save your changes!</strong></div>';

}

function save(){

  var temp = '@user.username';
  p = '@user.password';
  e = '@user.email'; 



  if(document.getElementById("Password") != null){
    p = document.getElementById("Password").value;
  }
  if(document.getElementById("Email") != null){
    e = document.getElementById("Email").value;
  }

  var data = {
    "username" :  un,
    "email" : e,
    "password" : p,
    "skill" : level,
  };

  $.ajax({
    url: jsRoutes.controllers.Api.editUser(temp).url,
    type:'PUT',
    data: JSON.stringify(data),
    contentType: 'application/json; charset=utf-8',
    dataType:'json',
    success: function (response) {

      document.getElementById("save").disabled="disabled";

      document.getElementById("table").rows[1].cells[1].innerHTML = (p).charAt(0) + "***";
      document.getElementById("table").rows[2].cells[1].innerHTML = e;

      document.getElementById("table").rows[1].cells[2].innerHTML = "";
      document.getElementById("table").rows[2].cells[2].innerHTML = "";

    }
  });
}

function getLevel(l){

  document.getElementById("save").disabled="";

  document.getElementById("table").rows[3].cells[2].innerHTML = l;

  for(var i = 1; i <= 5; i++){
   var name = "" + i ;
   document.getElementById(name).className="fa fa-star-o";
 }

 for(var i = 1; i <= l; i++){
   var name = "" + i ;
   document.getElementById(name).className="fa fa-star";
 }


 level = l;

 document.getElementById("alerts").innerHTML = '<div id="alert" class="alert alert-warning"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>You have changed something. Make sure to save your changes!</strong></div>';

}
</script>
}

