@(message: String)

@base(message) {
    @nav()
<div class="container-fluid">

    <div class="row text-center">
        <h1>Test Page</h1>
    </div>
    <div class="col-md-4 col-md-offset-4">
        <div id="alerts"></div>

        <div class="row text-center">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" id="username">
                </div>
                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd">
                </div>
                <button class="btn btn-default" id="magic">Magic</button>
        </div>
    </div>

} {
<script type="text/javascript">

$(document).ready(function(){

    $("#magic").click(function(){

        var data = {
            "username" :  $("#username").val(),
            "email" : $("#email").val(),
            "password" : $("#pwd").val()
        };

        $.ajax({
            url: "@routes.Api.addUser()",
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(data),
            success: function(result){
                $("#alerts").append('<div class="alert alert-success" role="alert">Success: ' + result + '</div>');
            },
            error: function(xhr){
                $("#alerts").append('<div class="alert alert-danger" role="alert">Error: ' + xhr.status + ' ' + xhr.statusText + ' ' + xhr.responseText + '</div>');
            }
        });
    });

});

</script>
}

