@(message: String, user: User)

@base(message) {
    @nav()
    <style>

        #addC{
            padding-top: 40px;
        }

        .jumbotron{
            background-color: #83d662;
            padding-top: 5px !important;
            padding-bottom: 5px !important;
            padding-left: 10px;
            padding-right: 10px;
        }

        #edit1, #edit2, #edit3, #edit4, #edit5, #edit6, #edit7, #edit8, #edit9, #edit10{

          -webkit-appearance: none;
          outline: none;
          border: 0;
          background: transparent;
        }

        #delete1, #delete2, #delete3, #delete4, #delete5, #delete6, #delete7, #delete8, #delete9, #delete10{

          -webkit-appearance: none;
          outline: none;
          border: 0;
          background: transparent;
        }

        button{
            font-size: 20px;
            color: black;
        }

        button:active{
            color: #ADD8E6;
        }

        #alert{
            width: 100px;
        }

        #others{
            display: none;
        }

        #filler{
            width: 4%;
        }

        .btn-block{
            margin: 0;
            width: 100px;
        }

        .col-md-1{
            margin-left: 2%;
        }


    </style>

    <div class="row text-center">
        <h1>Home</h1>
    </div>
    <br>
    <!--Adding a new flashcard-->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Create a new flash card!</h4>
                </div>
                <div class="modal-body">
                    <p>Title</p>
                    <input type="text" id="title" size="15">
                    <p>Question</p>
                    <input type="text" id="question" size="15">
                    <p>Answer</p>
                    <input type="text" id="answer" size="15">
                </div>
                <div class="modal-footer">
                    <button type="button" id="login" class="btn btn-default" onclick="submit()" data-toggle="modal" data-target="#myModal">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

        <div class="modal fade" id="myImport" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Select a file!</h4>
                </div>
                <div id="myImportBody" class="modal-body">
                    <input type="file" id="files" name="files[]" multiple />
                    <output id="list"></output>
                </div>
                <div class="modal-footer">
                    <button type="button" id="login" class="btn btn-default" onclick="myImport()">Import</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

      <br>

<!--Display my flashcards-->
    <div class="container-fluid" id="personal">
        <div id="filler" class="col-md-1"></div>

        <div id="personal-col1" class="col-md-5"></div>

        <div id="personal-col2" class="col-md-5"></div>

        <div id="personal-col3" class="col-md-1">
            <div id="addC" class="row text-center" data-spy="affix" data-offset-top="40">
                <button type="button" id="add" class="btn btn-default btn-block" data-toggle="modal" data-target="#myModal">Add</button>
                <br>
                <button type="button" id="collection" class="btn btn-default btn-block" onclick="showOthers()">Collection</button>
                <br>
                <button id="exportMy" type="button" class="btn btn-default btn-block" onclick="exportMy()">Export</button>
                <br>
                <button id="importMy" type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#myImport">Import</button>
            </div>
        </div>
    </div>

<!--Display my collection-->
    <div class="container-fluid" id="others">
        <div id="filler" class="col-md-1"></div>

        <div id="others-col1" class="col-md-5"></div>

        <div id="others-col2" class="col-md-5"></div>

        <div id="others-col3" class="col-md-1">
            <div id="addC" class="row text-center" data-spy="affix" data-offset-top="40">
                <button type="button" id="collection" class="btn btn-default btn-block" onclick="showPersonal()">Back</button>
                <br>
                <button id="exportSaved" type="button" class="btn btn-default btn-block" onclick="exportSaved()">Export</button>
                <br>
            </div>
        </div>
    </div>

    <br>
<div class="row text-center">
    <ul class="pagination">
        <li><button id="1" onclick="move(1)">1</button></li>
        <li><button id="2" onclick="move(2)">2</button></li>
        <li><button id="3" onclick="move(3)">3</button></li>
        <li><button id="4" onclick="move(4)">4</button></li>
        <li><button id="5" onclick="move(5)">5</button></li>
    </ul>
</div>
    </div>
}{
<script type="text/javascript">
var page = 1;
var o = 0;
var question = "Q";
var answer = "A";
var title = "";
showF();

function showF(){

    document.getElementById("personal-col1").innerHTML="";
    document.getElementById("personal-col2").innerHTML="";

    $.ajax({
        url: '/api/flashcard/all/@user.username',
        data: {
            limit:10,
            offset: o,
        },
        success: function (response) {
    
            var size = response.length;
            var col = 1;
            for(var i = 1; i <= size; i++){
                if((i%2) == 0){
                    col = 2;
                }
                document.getElementById("personal-col" + col).innerHTML += '<div class="jumbotron"><div class="page-header"><h3 id="h'+i+'">'+ response[i-1].name +'     <button type="button" id="edit'+i+'" class="btn btn-default" onclick="edit('+i+')">Edit</button><small>  -   </small><button type="button" id="delete'+i+'" class="btn btn-default" onclick="dlt('+i+')">Delete</button></h3></div><p id="Q'+i+'">Question: '+ response[i-1].question+'</p><p id="A'+i+'">Answer: '+response[i-1].answer+'</p><p>Rating: '+response[i-1].difficultyRating+'</p><p style="visibility:hidden"id="value'+i+'">'+ response[i-1].id+'</p></div>';
                col = 1;
            }
            if(size == 0){
    
                document.getElementById("personal-col1").innerHTML= "You don't have any flashcards!";
    
            }
    
        }
    });

//Causing error because there is nothing in the collection
    var collection = "@user.collection"
    var c = collection.split(" ");
    
    var col = 1;
    for(var i = 1; i <= c.length; i++){
        if((i%2) == 0){
                col = 2;
            }
            
        console.log(c[i-1]);
        $.ajax({
            url: '/api/flashcard/'+c[i-1],
            data: {},
            success: function (response) {
                console.log(response);
                document.getElementById("others-col" + col).innerHTML += '<div class="jumbotron"><div class="page-header"><h3 id="h'+i+'">'+ response.name +'     <small>  -   </small></h3></div><p id="Q'+i+'">Question: '+ response.question+'</p><p id="A'+i+'">Answer: '+response.answer+'</p><p>Rating: '+response.difficultyRating+'</p><p style="visibility:hidden"id="value'+i+'">'+ response.id+'</p></div>';
        
            }
        });
        
        col = 1;
    }
    
    if(c.length == 0){

        document.getElementById("others-col1").innerHTML= "You don't have any flashcards!";
    }
}

function showOthers(){
    //document.getElementById("personal").style.display = "none";
    //document.getElementById("others").style.display = "inline";
    $("#personal").hide();
    $("#others").show();
}

function showPersonal(){
    //document.getElementById("personal").style.display = "inline";
    //document.getElementById("others").style.display = "none";
    $("#personal").show();
    $("#others").hide();
}

function submit(){

        title = document.getElementById("title").value;
        question = document.getElementById("question").value;
        answer = document.getElementById("answer").value;

        var data = {
                "creator":'@user.username',
                "name": title,
                "question": question,
                "answer": answer,
                "isDraft": false,
            };

        $.ajax({
            url: '/api/flashcard/add',
            type:'POST',
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            dataType:'json',
            success: function (response) {
                document.getElementById("addC").innerHTML += '<div id="alert" class="alert alert-success"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Added</strong></div>';
                showF();

                document.getElementById("title").value = "";
                document.getElementById("question").value = "";
                document.getElementById("answer").value = "";
            }
        });
}


function move(p){

    document.getElementById("" + page).style.color = "black";
    document.getElementById("" + p).style.color = "#ADD8E6";

var pageDifference = Math.abs(page - p);
for(var i = 0; i < pageDifference; i++){
    if(p < page){
        o -= 10;
    }
    else if(p > page){
        o += 10;
    }
}
    page = p;
    showF();

}

function edit(i){

    i += "";

    var type = document.getElementById("edit" + i).innerHTML;
    var idLong = document.getElementById("value" + i).innerHTML;
    title = (document.getElementById("h"+ i).innerHTML).split(" ");
    question = ((document.getElementById("Q"+ i).innerHTML).split(":"))[1];
    answer = ((document.getElementById("A"+ i).innerHTML).split(":"))[1];

    if(type == "Edit"){

    //document.getElementById("h"+ i).innerHTML = '<input type="text" id="H'+ i +'" size="15" value =' + title + '>';
    document.getElementById("Q"+ i).innerHTML = 'Question: ' + '<input type="text" id="Question'+ i +'" size="15" value =' + question + '>';
    document.getElementById("A" + i).innerHTML = 'Answer: ' + '<input type="text" id="Answer'+ i + '" size="15" value =' + answer + '>';
    document.getElementById("edit" + i).innerHTML = "Save";

    }
    else{

        //title = document.getElementById("H" + i).value;
        question = document.getElementById("Question" + i).value;
        answer = document.getElementById("Answer"+i).value;

        document.getElementById("Q" + i).innerHTML = 'Question: ' + question;

        document.getElementById("A"+ i).innerHTML = 'Answer: ' + answer;

        var data = {
                "creator":'@user.username',
                "name": title[0],
                "question": question,
                "answer": answer,
                "isDraft": false,
        };

        $.ajax({
            url: '/api/flashcard/'+idLong+'/edit',
            type:'POST',
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            dataType:'json',
            success: function (response) {
                document.getElementById("addC").innerHTML += '<div id="alert" class="alert alert-success"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Edited</strong></div>';
            }

        });
        document.getElementById("edit" + i).innerHTML = "Edit";
    }
}

function dlt(i){

    var idLong = document.getElementById("value" + i).innerHTML;

    $.ajax({
        url: '/api/flashcard/'+ idLong+'/delete',
        type:'DELETE',
        success: function (response) {
            document.getElementById("addC").innerHTML += '<div id="alert" class="alert alert-success"><a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Deleted</strong></div>';
            showF();
        }
    });
}

function exportSaved(){
    var collection = "@user.collection"
    var c = collection.split(" ");
    var file = 'Name,Question,Answer,Rating,ID';
    for(var i = 0; i <c.length; i++){
        $.ajax({
            url: '/api/flashcard/'+c[i],
            data: {},
            success: function (response) {
                file += response.name + ', '+ response.question+ ', ' + response.answer +', '+ response.difficultyRating+', '+ response.id +"\n";

            var fileParts = [file];
            var myBlob = new Blob(fileParts, {type : 'text/csv'});
            var url = URL.createObjectURL(myBlob);
            window.location.href = url;
            }
        });
    }
}

function exportMy(){

    var file = 'Name,Question,Answer,Rating,ID\n';
    $.ajax({
        url: '/api/flashcard/all/@user.username',
        data: {
            limit:10,
            offset: o,
        },
        success: function (response) {
            var size = response.length;
            for(var i = 0; i < size; i++){
                file += response[i].name + ', '+ response[i].question+ ', ' + response[i].answer +', '+ response[i].difficultyRating+', '+ response[i].id +"\n";
            }   
            var fileParts = [file];
            var myBlob = new Blob(fileParts, {type : 'text/csv'});
            var url = URL.createObjectURL(myBlob);
            window.location.href = url;
        }
    });
}

var fileContents = "";

function handleFileSelect(evt) {
    var files = evt.target.files; // FileList object

    // files is a FileList of File objects. List some properties.
    var output = [];
    var f = files[0];

    output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',f.size, ' bytes, last modified: ',f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a','</li>');
  
    document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';

    var reader = new FileReader();
    reader.onload = function(e){
      fileContents = e.target.result + ""; 
    }
    reader.readAsText(f);

}

document.getElementById('files').addEventListener('change', handleFileSelect, false);

function myImport(){
    if(fileContents == ""){
        document.getElementById("myImportBody").innerHTML += '<div class="alert alert-danger">'+
        '<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>'+
        'You have not selected a file yet!'+
        '</div>';
    }
    else{
        $("#myImport").modal("hide");
        var lines = fileContents.split("\n");
        for(var i=1;i<lines.length-1;i++){
            var line  = lines[i].split(",");
            var data = {
                "creator":'@user.username',
                "name": line[0],
                "question": line[1],
                "answer": line[2],
                "isDraft": false,
            };

            $.ajax({
                url: '/api/flashcard/add',
                type:'POST',
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                dataType:'json',
                success: function (response) {
                    document.getElementById("addC").innerHTML += '<div id="alert" class="alert alert-success"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Added</strong></div>';
                }
            });
        }
        showF();
    }
}
</script>
}


